.project-component {
    background-color: #2C2F33;
    height: 600px;
}

.project-listing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
}

.project-component h1 {
    color: #FFFFFF;
    text-align: center;
}

.project-component-footer {
    background-color: #7289DA;
    height: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

.footer-string {
    color: #FFFFFF;
    font-size: 40px;
}

.project-item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    transition: all .2s ease-in-out;
}

.project-item:hover {
    box-shadow: 5px 10px 8px rgb(0, 0, 0);
    transform: scale(1.1);
}

.project-item-contents {
    border-style: solid;
    border-color: #23272A;
    background-color: #7289DA;
    color: #FFFFFF;
    min-width: 400px;
    min-height: 200px;
}

.project-item-title {
    text-align: center;
}

.project-item-preview {
    border-style: solid;
    border-color: #23272A;
    background-color: #FFFFFF;
    height: 200px;
    width: 200px;
}