@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway');

.landing-background {
    position: absolute;
    height: 100%;
    width: 100%;
} 

.my-projects {
    position: relative;
}

.background-pages {
    width: 100vw;
    height: 100vh;
}
.background-slide .switch-enter {
    transform: translateX(100%);
}

.background-slide .switch-enter-active {
    transform: none;
    transition: transform 2000ms ease-out;
}

.background-slide .switch-exit {
    transform: none;
}

.background-slide .switch-exit-active {
    transform: translateX(-100%);
    transition: transform 2000ms ease-out;
}

.fade-in-slide .right-slide-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.fade-in-slide .right-slide-enter-active {
    opacity: 1;
    transition: all 1000ms ease-in-out;
}

.fade-in-slide .right-slide-exit {
    opacity: 1;
    transform: none;
}

.fade-in-slide .right-slide-exit-active {
    opacity: 0.01;
    transform: translateX(0%);
    transition: all 1000ms ease-in-out;
}

.portfolio-components {
    background-color: #2C2F33;
}

.project-component {
    height: 1210px;
    width: 1200px;
    margin: auto;
}

.project-listing {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    align-items: center;
    height: 1100px;
    grid-column-gap: 200px;
    grid-row-gap: 50px;
}

.project-component h1 {
    color: #FFFFFF;
    text-align: center;
}

.project-component-footer {
    background-color: #7289DA;
    height: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

.footer-string {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-size: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.project-item:hover {
    box-shadow: 5px 10px 8px rgb(0, 0, 0);
    transform: scale(1.08);
}

.project-item-contents {
    background-color: #7289DA;
    color: #FFFFFF;
    min-width: 500px;
    height: 225px;
}

.project-item-title {
    letter-spacing: 2px;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-align: center;
}

.project-item-preview {
    background-color: #FFFFFF;
    height: 300px;
    width: 500px;
}

.project-item-description {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.static-preview-image {
    position: absolute;
    border-radius: 10px;
}

.static-preview-image:hover {
    opacity: 0;
}

.influences-component {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-content: center;
    justify-content: center;
}

.influences-component-section {
    width: 100%;
}

.influences-component-content {
    width: 1200px;
    margin: auto;
}

.influences-component-content p {
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.top-section {
    background-color: #3c91e6;
}

.middle-section {
    background-color: #6cacdd;
}

.bottom-section {
    background-color: #b9314f;
}

.right-slide-appear {
    opacity: 0.01;
    transform: translateX(-100%);
}

.right-slide-appear.right-slide-appear-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1000ms ease-in;
}

.left-slide-appear {
    opacity: 0.01;
    transform: translateX(100%);
}

.left-slide-appear.left-slide-appear-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1000ms ease-in;
}